.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.background-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
