.bottom-background-container {
    position: relative;
    width: 1074px;
    height: 664px;
    left: 50%;
    transform: translateX(-50%);
    top: 120px;

    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;

    opacity: 0;
    animation: fadeInUp-bottomBackground 2s ease forwards;

    animation-delay: 2s;
}

@keyframes fadeInUp-bottomBackground {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(-50%)  translateY(0);
    }
}