.bottom-background-container {
    position: relative;
    width: 1074px;
    height: 800px;
    left: 50%;
    transform: translateX(-50%);
    top: 120px;
    margin-bottom: 200px;

    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;

    opacity: 0;
    animation: fadeInUp-bottomBackground 2s ease forwards;

    animation-delay: 2s;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    z-index: 1;
}

@keyframes fadeInUp-bottomBackground {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}