.Nav {
    position: fixed;
    height: 64px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 42px;
    box-sizing: border-box;
    z-index: 1;
}

.header-logo {
    font-family: 'Gelasio';
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.header-content {
    font-family: 'Gelasio';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    color: #FFFFFF;
}