.memo-read-container {
    position: fixed;
    background-color: #ffffff;
    width: 500px;
    height: 500px;
    z-index: 1001;

    left: 50%;
    top: 250px;
    transform: translateX(-50%);

    border-radius: 20px;
    border: 1px solid #000000;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.memo-read-container p {
    margin: 0;
}

.memo-box-date {
    color: #000000;
    font-family: 'Gelasio';
    font-size: 22px;
    letter-spacing: 0.1em;

    padding-left: 5%;
}

.memo-write-emoji-select-section {
    padding-left: 5%;
    display: flex;
    flex-direction: row;
}

.memo-write-emoji-select-section-text {
    font-family: 'Gowun Batang';
    color: #000000;
}

.memo-read-button-close {
    width: 95px;
    height: 35px;
    border-radius: 15px;
    background-color: #000000;
    border: 1px solid #A6A6AA;
    color: #ffffff;
    cursor: pointer;
}

.memo-read-emoji {
    padding-left: 2%;
}

.memo-read-emoji-state {
    padding-left: 1%;
    color: #000000;
    font-family: 'Gowun Batang';
}

.memo-read-title-p {
    font-family: 'Gowun Batang';
    font-size: 20px;
    color: #000000;
    border-radius: 8px;
    padding-left: 5%;

    width: 90%;
    box-sizing: border-box;
    text-align: left;
    flex-shrink: 0;

    margin-left: auto;
    margin-right: auto;
}

.memo-read-content-p {
    font-family: 'Gowun Batang';
    font-size: 18px;
    color: #000000;
    border-radius: 8px;
    padding-left: 5%;

    width: 90%;
    box-sizing: border-box;
    text-align: left;

    min-height: 150px;
    overflow-y: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    flex-shrink: 0;

    margin-left: auto;
    margin-right: auto;
}