.memo-card-container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    left: 5%;
    z-index: 1000;
    gap: 5px;
    width: 110px;
    height: 40px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.memo-card-title {
    font-family: 'Gowun Batang';
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}