.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.memo-box-container {
    position: fixed;
    background-color: #ffffff;
    width: 500px;
    height: 350px;
    z-index: 1000;

    left: 50%;
    top: 280px;
    transform: translateX(-50%);

    border-radius: 20px;
}

.memo-box-date {
    color: #000000;
    font-family: 'Gelasio';
    font-size: 22px;
    letter-spacing: 0.1em;

    padding-left: 5%;
}

.memo-box-buttons {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    gap: 20px;
}

.memo-box-button-close,
.memo-box-button-add {
    width: 95px;
    height: 35px;
    border-radius: 15px;
}

.memo-box-button-close {
    background-color: #ffffff;
    border: 1px solid #A6A6AA;
    color: #000000;
    cursor: pointer;
}

.memo-box-button-add {
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff;
    cursor: pointer;
}

.memo-box-button-add:disabled {
    background-color: #cccccc;
    border: 1px solid #cccccc;
    color: #666666;
    cursor: default;
}