.welcomeSections-container {
    position: fixed;
    width: 650px;
    height: 180px;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    gap: 0px;
}

.welcomeSections-container p {
    margin: 15px;
}

.welcomeSections-top {
    font-family: 'Gowun Batang';
    font-weight: 400;
    font-size: 70px;
    line-height: 1;
    text-align: left;
    letter-spacing: 0.1em;

    color: #FFFFFF;

    opacity: 0;
    animation: fadeInUp 2s ease forwards;
}

.welcomeSections-bottom {
    font-family: 'Gowun Batang';
    font-weight: 400;
    font-size: 70px;
    line-height: 1;
    text-align: right;
    letter-spacing: 0.1em;

    color: #FFFFFF;

    opacity: 0;
    animation: fadeInUp 2s ease forwards;

    animation-delay: 1s;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}